.page-main {
  height: 100%;
}

.yl-message-button {
  padding: 10px;
  text-align: right;
}

.g-dialog-footer {
  text-align: right;
}

.g-dialog-footer .g-form-save-close-float {
  float: left;
  padding: 10px;
}
